*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}


/*оформление*/

@font-face {
    font-family: "SansThin";
    src: url("/materials/fonts/1601702495nd.ttf");

}

.wrapper {
    font-family: "SansThin";
    width: 100%;
    height: 100%;
}
.header {
    background-image: url(/materials/images/Head_Background.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 787px;
}
.header__container { 
    margin: 0 auto;
    width: 1220px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header__row {
    width: 100%;
    height: 89px;
    margin-top: 51px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-right: 35px;
    justify-content:space-between;
}
.logo {
    width: 135px;
    height: 50px;
}
.buttons button {
    background-color: rgba(255, 255, 255, 0);
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}
.buttons {
    display: flex;
    align-items: center;
    gap: 50px;
}
.header__line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 75px;
}
.header__slogan {
    height: 198px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
    margin-left: 70px;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 9px;
}

.main {
    background-color: rgb(247, 247, 247);
    width: 100%;
}

.main__container {
    margin: 0 auto;
    width: 1220px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}
.main__notice {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__notice__elem {
    width: 379px;
    height: 500px;
    background-color: white;
    box-shadow: 4px 4px 8px;
    border-radius: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.main__notice__elem img {
    width: 100px;
    height: 100px;
}
.main__notice__elem div {
    min-width: 243px;
    min-height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.main__notice__elem hr {
    width: 85px;
    height: 1px;
    background-color: black;
}
.main__notice__elem h2 {
    font-weight: bolder;
}

.main__notice__elem p {
    text-align: center;
    width: 221px;
    height: 187px;
}

.main__car__list {
    background-color: rgb(228, 228, 228);
    width: 100%;
}

.main__car__list__container {
    width: 1220px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.car__list__text {
    min-width: 537px;
    height: 98px;
    font-size: 38px;
    gap: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.car__list__text div {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 126, 126);
    border-radius: 40px;
}

.car__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 363px);
    grid-template-rows: repeat(auto-fill, 430px);
    justify-content: space-between;
    gap: 65px;
}
.car__card {
    height: 430px;
    width: 363px;
}
.car__image {
    width: 363px;
    height: 280px;
}
.car__image img {
    width: 100%;
    height: 100%;
    border-color: rgba(255, 255, 255, 0);
}
.car__info {
    width: 363px;
    height: 110px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 10px;
    padding: 15px;
}
.car__info p:first-child {
    font-size: 22px;
    font-weight: bold;
}
.rent__button {
    width: 363px;
    height: 40px;
    background-color: rgb(199, 199, 199);
    display: flex;
    align-items: center;
    justify-content: center;
}
.rent__button img {
    margin-top: 2px;
}

